
<div class="card-container" role="main">
  <div class="column">
    <div class="message-area">
      <h1>Learn to code by watching others </h1>
      <h1></h1>
      <p>See how experienced developers solve problems in real-time. Watch scripted tutorials is great, but understanding how developers think is invaluable</p>
  
    </div>
  </div>
<div class="column">
  <div class="register-area" >
    <a class="card" target="_blank" rel="noopener" href="">
      <span class="text-colour"><b>Try it free 7 days</b> then $20/mo. thereafter</span>    
    </a>
    <!-- The  form card -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="card-form">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name cannot be empty</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name cannot be empty</div>
            </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email cannot be empty</div>
              <div *ngIf="f.email.errors.email">Looks like this is not an email</div>
          </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password cannot be empty</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn  card-form-button">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                CLAIM YOUR FREE TRIAL
            </button>
            
        </div>
        <a class="remarks">
          By clicking the button, you are agreeing to our
          <span class="remarks-highlight">
            Terms and Services
          </span>
        </a>
    </form>

  </div>
</div>
</div>
  

